<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    const data = {
  show: true,
  users: [
    {
      name: "小明",
      url: "url1",
    },
    {
      name: "小红",
      url: "url2",
    },
  ],
};

const str = `
<ul>
  <% if (data.show) { %>
    <% for (var i = 0; i < data.users.length; i++) { %>
      <li>
        <a href="<%= data.users[i].url %>">
          <%= data.users[i].name %>
        </a>
      </li>
    <% } %>
  <% } else { %>
    <p>不展示列表</p>
  <% } %>
</ul>
`;
function templateParse(str, data) {

   // 添加函数头部语句
  str = "let html = '';" + "html += '" + str;
  // 去掉换行符
  str = str.replace(/[\r\t\n]/g, "");
  // 所有 <% xxx %> 替换为 ';xxx;html+='
  str = str.replace(/<%=(.*?)%>/g, "';html+=$1;html+='");
  // 所有 <% 替换为 ';
  str = str.replace(/<%/g, "';");
  // 所有 %> 替换为 html+='z
  str = str.replace(/%>/g, "html+='");
  // 添加
  str += "';";
  // 添加函数尾部返回值
  str += "return html;";
  // console.log(str)
  const fn = new Function("data", str);
  console.log(fn);

  return fn(data);
}

const html = templateParse(str, data);
console.log(html);
  </script>
</body>
</html>